# 系统配置=========================================

# 默认的 svn 的地址 , e.g.: https://svn.com.cn/svn/pdragon  或 https://192.168.10.5/!/#pdragon/view/head
baseSvnUrl: "xxxxxxxxx"
# 默认加载的路径 , e.g.: /ProtoConfig/Config , 对应的访问的是 baseSvnUrl+basePath 路径
basePath: "/xxx/xxx"

# 默认的 SVN 账号 与 密码
#defUsername: "****"
#defPassword: "****"

# 权限配置=========================================
manager:
    -
      role: "admin"
      # 这儿会匹配 下列 SVN 用户名, 如果匹配成功 则赋予 admin 权限
      author: ["hel10word"]
      logLimit: 15
      # 匹配成功的用户 默认访问的路径
      basePath: "/Unity/Proj_zhq/Unity/Proj_zhq/ProtoConfig/Config"

# fastapi 配置=========================================
fastapi:
  # 监听的地址
  host: "0.0.0.0"
  # 监听的端口号
  port: 8000
  # cookie 对应的 Key
  cookieKey: "access_token"